:root{
    --vermelho: #E50914;
    --preta: #141414; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body{
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /* defaul */
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    margin-top: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* livro principal */

.livro-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../img/principal_dom_casmurro.jpg");
 
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.livro-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.livro-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 35px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: 2s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-left: 8px;
    font-size: 15px;
}
 
.botao_ler{
    padding: 15px 60px;
}

.container{
    margin-left: 30px;
}

.livro-principal .container{
    margin-top: 5rem;
    width: 70%;
}

.carrosel-livros .item{
    height: 350px;
    background-size: cover;
}

.box-livro{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-livros{
    margin-top: 5px;
}